/* 스크롤바 안보이고 기능만살리기 */

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#canvas3d {
  border: red solid 4px;
}
#Box_canvas3d {
  border: red solid 4px;
  width: 40vw;
  height: 40vh;
}

#Box_canvas3d #canvas3d {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Box_ball_2D,
#Box_ball_3D {
  border: 5px solid blue;
  width: 640px;
  height: 480px;
}

#Box_ball_2D #ball_2D {
  position: relative;
}
